<div class="navbar-smart-wallet">
  <div class="navbar-links">
    <div class="home-icon">
      <%= link_to root_path do  %>
        <i class="fas fa-home"></i>
      <% end %>
    </div>
    <div class="wallet-icon">
      <%= link_to documents_path do  %>
        <i class="fas fa-wallet wallet-font"></i>
      <% end %>
    </div>
    <div class="user-icon">
      <%= link_to profile_path do  %>
        <i class="fas fa-user"></i>
      <% end %>
    </div>
  </div>
</div>
