<div class="navbar-smart-wallet">
      <div class="navbar-links">
        <div class="home-icon"><i class="fas fa-home"></i></div>
        <div class="wallet-icon"><i class="fas fa-wallet wallet-font"></i></div>
        <div class="user-icon"><i class="fas fa-user"></i></div>
      </div>
  </div>
