<div class="container" data-controller="slider" >
  <div class="document-content">
    <h1>Meus documentos</h1>
    <div class="document-grid">
      <div class="grid-item">
        <h2>Categoria</h2>
        <div class="width-316">
          <div class="slider" >
            <div>
              <%= image_tag 'rg-front.jpg' %>
            </div>
            <div>
              <%= image_tag 'rg-back.jpg' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
