.back-button {
  position: relative;
}
.back {
  position: absolute;
  top: -35px;
  right: 235px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  &:hover {
    color: white;
  }
}

.back-button-login {
  position: relative;
}
.back-login {
  position: absolute;
  top: -27px;
  right: 280px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  &:hover {
    color: white;
  }
}

.back-button-registro {
  position: relative;
}
.back-registro {
  position: absolute;
  top: -27px;
  right: 280px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  &:hover {
    color: white;
  }
}
