.document-grid {
  display: grid;
  width: 100%;
  .grid-item {
    margin: 5px;
    width: 90%;
    text-align: center;
    height: 560px;
    border-radius: 10px;
    margin: 10px auto;
  }
}

.document-content {
  h1 {
    text-align: center;
    margin: 30px auto;
    font-size: 32px;
    color: $oxford-blue;
  }
}

.width-316 {
  width: 316px;
  margin: 5px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
  object-fit: fill;
}

.tns-controls {
  display: none;
}
.tns-nav {
  display: none;
}

.grid-item {
  h2 {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 600;
    color: $ocean-green;
  }
}

.card-login {
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 10px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 50px 30px;
  width: 100%;
}

.card-registro {
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 50px 30px;
  width: 100%;
}

.modal-body {
  padding: 0px;
}

.modal-content {
  background-color: transparent;
}

.modal-header {
  border: none;
}

.container-new-document {
  padding-bottom: 130px !important;
  select {
    border-radius: 30px;
  }
}

.img-content {
  border-radius: 5px;
  overflow: hidden;
  width: 400px;
  height: 600px;
  img {
    width: 400px;
    height: 600px;
    object-fit: contain;
  }
}


.container-index {
  overflow: auto;
  padding-bottom: 150px;
}

@media only screen and (min-width: 992px) {
  .card-login {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 10px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 50px 30px;
  }
}

@media only screen and (min-width: 992px) {
  .card-registro {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 10px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 50px 30px;
 }

}
