.document-grid {
  display: grid;
  width: 100%;
  .grid-item {
    margin: 5px;
    width: 90%;
    text-align: center;
    height: 560px;
    border-radius: 10px;

    margin: 10px auto
  }


}

.document-content {
  h1 {
    text-align: center;
    margin: 30px auto;
    font-size: 32px;
    color: $oxford-blue;
  }

}


// .width-316 {
//   width: 316px;
//   margin: 5px auto;
//   border-radius: 10px;
//   overflow: hidden;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   border: white 1px solid;
// }

.tns-controls {
  display: none;
  // button {
  //   color: #070606;
  //   padding: 7px 30px;
  //   border-radius: 5px;
  //   background-color: $ocean-green;
  //   transition: 0.3s;
  // }

}
.tns-nav {
  display: none;
}

.grid-item {
  h2 {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 600;
    color: $ocean-green;
  }

}

.card-login-registro {
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 10px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 50px 30px;
}

.modal-content {
  background-color: transparent;
}

.modal-header {
  border: none;
}
