.card-perfil {
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.45);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 50px 30px;
  margin-top: -20px;
}

.container-perfil {
  background: rgb(255, 255, 255);
  background-size: cover;
  background-color: rgba(64,155,228, 0.6);
  background-image:
      radial-gradient(at 82% 65%, hsl(207.07, 77%, 57.99999999999999%) 0, transparent 55%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  padding: 100px;
  height: 100vh;
}
