

@media (min-width: 600px) {
  .container-wrapper {
    width: 70%;
    margin: 0 auto;
    min-height: 800px;

  }
  .navbar-smart-wallet {
    width: 70%;
  }

  .add-content {
    right: 20%;
    top: 84%;
  }
  .btn {
    width: 100%;
  }
  .btn-registro {
    width: 100% !important;
  }


}
@media (min-width: 700px) {
  .btn {
    width: 50%;
  }
  .card-perfil {
    width: 80%;
  }
}



@media (min-width: 1200px) {
  .container-wrapper {
    width: 50%;
    margin: 0 auto;


  }
  .navbar-smart-wallet {
    width: 50%;
  }
  .add-content {

    right: 27%;
  }

  .card-registro {
    width: 90%;
  }


}
