.content-trash-edit {
  position: relative;
}

.trash {
  position: absolute;
  top: -43px;
  right: 41px;
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.edit {
  position: absolute;
  top: -110px;
  right: 38px;
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
  }
}
