// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
 background-color: $platinum;
 margin:0;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(4,34,58,1) 0%, rgb(67, 157, 231) 100%);
  color:white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1 {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

p {
  letter-spacing: 1px;
  font-size: 14px;
  color: $jet;
}
